In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('zomato.csv',encoding='latin-1')

In [3]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [4]:
data.shape

(9551, 21)

In [5]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [6]:
data.drop(columns=['Restaurant ID','Is delivering now','Rating color','Rating text','Switch to order menu'],inplace=True)

In [7]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [8]:
data['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [9]:
data=data[data['Country Code']==1]

In [10]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [11]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]

In [12]:
data.shape

(7922, 16)

In [13]:
data.drop(columns=['Restaurant Name','Country Code', 'Address', 'Locality','Locality Verbose','Currency'],inplace=True)

In [14]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [15]:
data['Has Table booking'].replace({'Yes':1,'No':0},inplace=True)

In [16]:
data['Has Online delivery'].replace({'Yes':1,'No':0},inplace=True)

In [17]:
data.corr()

,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
Longitude,1.000000,0.997829,0.071752,0.059417,0.138671,0.083845,0.224523,0.071641
Latitude,0.997829,1.000000,0.070993,0.059974,0.138488,0.083131,0.224383,0.071598
Average Cost for two,0.071752,0.070993,1.000000,0.642966,0.076953,0.847985,0.328440,0.299089
Has Table booking,0.059417,0.059974,0.642966,1.000000,0.074300,0.658627,0.248363,0.223811
Has Online delivery,0.138671,0.138488,0.076953,0.074300,1.000000,0.188798,0.341197,0.123734
Price range,0.083845,0.083131,0.847985,0.658627,0.188798,1.000000,0.370212,0.325602
Aggregate rating,0.224523,0.224383,0.328440,0.248363,0.341197,0.370212,1.000000,0.291076
Votes,0.071641,0.071598,0.299089,0.223811,0.123734,0.325602,0.291076,1.000000

In [18]:
data.corr()['Average Cost for two']

Longitude               0.071752
Latitude                0.070993
Average Cost for two    1.000000
Has Table booking       0.642966
Has Online delivery     0.076953
Price range             0.847985
Aggregate rating        0.328440
Votes                   0.299089
Name: Average Cost for two, dtype: float64

In [19]:
data.drop(columns=['Has Online delivery','Price range'],inplace=True)

In [20]:
data.shape

(7922, 8)

In [21]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Aggregate rating', 'Votes'],
      dtype='object')

In [22]:
data['Cuisines'].value_counts()

North Indian                                                                           901
North Indian, Chinese                                                                  474
Fast Food                                                                              330
Chinese                                                                                323
North Indian, Mughlai                                                                  313
Cafe                                                                                   251
Bakery                                                                                 212
North Indian, Mughlai, Chinese                                                         194
Bakery, Desserts                                                                       168
Street Food                                                                            145
Pizza, Fast Food                                                                       126
Chinese, Fast Food                                                                     117
Mithai, Street Food                                                                    116
Bakery, Fast Food                                                                      107
South Indian                                                                           103
Chinese, North Indian                                                                   99
Mughlai                                                                                 99
Ice Cream, Desserts                                                                     81
Ice Cream                                                                               72
Mithai                                                                                  70
North Indian, Chinese, Mughlai                                                          68
North Indian, Chinese, Fast Food                                                        66
North Indian, Fast Food                                                                 66
Bakery, Desserts, Fast Food                                                             62
American, Fast Food, Salad, Healthy Food                                                62
Mughlai, North Indian                                                                   57
Biryani                                                                                 54
Fast Food, Burger                                                                       52
North Indian, Chinese, Continental                                                      52
Beverages                                                                               52
                                                                                      ...
Mithai, South Indian, Chinese, Street Food                                               1
Mexican, Italian, North Indian, Chinese                                                  1
European, Asian                                                                          1
Greek, Mediterranean                                                                     1
Cuisine Varies                                                                           1
North Indian, Mithai, South Indian, Street Food, Chinese                                 1
North Indian, South Indian, Italian, Continental, Mediterranean, Lebanese, Desserts      1
Cafe, Italian, Pizza                                                                     1
Italian, Mediterranean                                                                   1
Bakery, Fast Food, Pizza                                                                 1
Cafe, Desserts, Healthy Food, Juices                                                     1
Asian, European                                                                          1
Turkish, Mediterranean, Middle Eastern                                                   1
Lucknowi, Mughlai                                                                        1
Bakery, Desserts, Fast Food, North Indian                                                1
Italian, North Indian, Chinese                                                           1
Salad, Healthy Food, Burger, Italian, Continental, Chinese, North Indian, Beverages      1
Continental, North Indian, Italian, Chinese                                              1
North Indian, Awadhi                                                                     1
Mexican, American                                                                        1
Kashmiri, Chinese                                                                        1
North Indian, Chinese, Continental, Italian, Mexican, Lebanese                           1
Arabian, Mexican                                                                         1
Chinese, Japanese, Italian, Seafood                                                      1
American, Italian, Chinese, North Indian, Cafe                                           1
North Indian, Fast Food, Street Food                                                     1
Street Food, North Indian, South Indian                                                  1
Cafe, North Eastern                                                                      1
North Indian, South Indian, Chinese, Fast Food, Bakery, Mithai                           1
Bakery, Desserts, Fast Food, Street Food, Chinese, Beverages                             1
Name: Cuisines, Length: 1156, dtype: int64

In [23]:
data.head()

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Aggregate rating,Votes
865,Faridabad,77.306640,28.490059,"Chinese, Fast Food, Bakery",250,0,2.9,4
866,Faridabad,77.304776,28.490157,"North Indian, Chinese",500,0,2.8,16
867,Faridabad,77.305563,28.490137,North Indian,150,0,2.8,8
868,Faridabad,77.306102,28.490098,North Indian,150,0,2.9,8
869,Faridabad,77.305745,28.490062,Bakery,100,0,2.8,7

In [24]:
a=data.groupby('Cuisines')['Average Cost for two'].mean().sort_values(ascending=False).reset_index()

In [25]:
a

                                               Cuisines  Average Cost for two
0                Asian, Japanese, Korean, Thai, Chinese           7000.000000
1          North Indian, Chinese, South Indian, Italian           6000.000000
2       Malaysian, Thai, Kerala, Vietnamese, Sri Lankan           6000.000000
3           Chinese, Italian, Continental, North Indian           5000.000000
4                               Mediterranean, European           5000.000000
5                   North Indian, European, Continental           5000.000000
6                                       French, Italian           5000.000000
7                                      Seafood, Italian           5000.000000
8                  Finger Food, Italian, Middle Eastern           4700.000000
9                                      Spanish, Italian           4500.000000
10                  Continental, Italian, Mediterranean           4500.000000
11                  Mughlai, North Indian, South Indian           4500.000000
12          Continental, European, North Indian, French           4500.000000
13           Finger Food, Continental, Italian, Chinese           4400.000000
14                                      Malaysian, Thai           4200.000000
15                                          Thai, Asian           4000.000000
16                                Japanese, Thai, Sushi           4000.000000
17              Seafood, Chinese, Japanese, Sushi, Thai           4000.000000
18    North Indian, Continental, European, Chinese, ...           3800.000000
19                                       South American           3750.000000
20                                             European           3700.000000
21            Continental, North Indian, Italian, Asian           3600.000000
22                            Pizza, Salad, Finger Food           3500.000000
23                      Cafe, Continental, North Indian           3500.000000
24         Continental, Italian, American, North Indian           3500.000000
25    North Indian, Mediterranean, European, Asian, ...           3500.000000
26                      European, Italian, North Indian           3400.000000
27                                European, Continental           3275.000000
28     Continental, North Indian, European, Finger Food           3200.000000
29    Mediterranean, Continental, North Indian, Italian           3200.000000
...                                                 ...                   ...
1126                           Bakery, Fast Food, Pizza            200.000000
1127                     Bakery, Fast Food, Street Food            200.000000
1128                               Ice Cream, Beverages            200.000000
1129                                     Bakery, Mithai            200.000000
1130                                             Juices            187.500000
1131                                Beverages, Desserts            175.000000
1132                 Raw Meats, Fast Food, North Indian            175.000000
1133                                Street Food, Mithai            158.333333
1134                                Mithai, Street Food            155.172414
1135                                             Mithai            152.857143
1136                                        Street Food            150.482759
1137                               Chinese, Street Food            150.000000
1138                                   Bengali, Chinese            150.000000
1139                       South Indian, Pizza, Chinese            150.000000
1140                                  Beverages, Juices            150.000000
1141                             Ice Cream, Street Food            150.000000
1142                                    Mithai, Chinese            150.000000
1143                                  Juices, Beverages            150.000000
1144                       Street Food, Chinese, Mithai            150.000000
1145               North Eastern, North Indian, Chinese            150.000000
1146       Ice Cream, Mithai, North Indian, Street Food            150.000000
1147                              Desserts, Street Food            135.714286
1148                                Street Food, Bakery            125.000000
1149  Chinese, North Indian, South Indian, Healthy Food            120.000000
1150                               Tibetan, Street Food            100.000000
1151                                    Awadhi, Mughlai            100.000000
1152                            North Indian, Beverages            100.000000
1153         Mithai, South Indian, Chinese, Street Food            100.000000
1154                                      Bakery, Pizza            100.000000
1155                             Beverages, Street Food             50.000000

[1156 rows x 2 columns]

In [26]:
data=data.merge(a,on="Cuisines")

In [27]:
data.drop(columns=['Cuisines'],inplace=True)

In [28]:
data.head()

,City,Longitude,Latitude,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Faridabad,77.306640,28.490059,250,0,2.9,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,0.0,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,2.8,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,0.0,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,0.0,0,594.303797

In [29]:
data.rename(columns={'Average Cost for two_x':'cost','Average Cost for two_y':'Cuisines'},inplace=True)

In [30]:
data.corr()['cost']

Longitude            0.071752
Latitude             0.070993
cost                 1.000000
Has Table booking    0.642966
Aggregate rating     0.328440
Votes                0.299089
Cuisines             0.808274
Name: cost, dtype: float64

In [31]:
y=data.iloc[:,3].values

In [32]:
y

array([ 250,  500,  500, ...,  450, 1000,  450], dtype=int64)

In [33]:
X=data.drop(columns=['cost']).iloc[:,:].values

In [34]:
X.shape

(7922, 7)

In [35]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [36]:
X[:,0]=encoder.fit_transform(X[:,0])

In [37]:
X

array([[0, 77.3066401, 28.4900591, ..., 2.9, 4, 375.0],
       [2, 77.04952508, 28.80619877, ..., 0.0, 0, 375.0],
       [0, 77.304776, 28.490156699999996, ..., 2.8, 16,
        594.3037974683544],
       ...,
       [3, 77.3648332, 28.5971027, ..., 3.5, 105, 450.0],
       [3, 77.32321292, 28.567750899999997, ..., 0.0, 0, 1000.0],
       [3, 77.32530809999999, 28.5671503, ..., 2.0, 161, 450.0]],
      dtype=object)

In [38]:
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])

In [39]:
X=oencoder.fit_transform(X).toarray()

In [40]:
X.shape

(7922, 10)

In [41]:
X[:,0:4]

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]])

In [42]:
X=X[:,1:]

In [43]:
X.shape

(7922, 9)

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=21)

In [45]:
from sklearn.linear_model import LinearRegression
regressor1=LinearRegression()

In [46]:
regressor1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [47]:
y_pred=regressor1.predict(X_test)

In [48]:
y_test.shape

(1585,)

In [49]:
y_pred.shape

(1585,)

In [50]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7134433972379821